.main-container {
  padding: 20px;
}

.welcome-text {
  font-size: 40px;
  padding: 20px;
  text-align: center;
  color: var(--detail);
}

.welcome-img {
  width: 100vh;
  height: auto;
}
.main-text {
  font-size: 20px;
  padding: 20px;
  color: var(--secondary-color);
  text-align: justify;
  display: flex;
  justify-content: center;
}

.welcome-img {
  width: 100%;
  height: auto;
}
.teaser {
  text-align: justify;
  font-size: 40px;
  margin: 20px;
  padding: 15px;
  align-self: center;
}

.card-1,
.card-2 {
      color: var(--secondary-color);
      padding: 40px;
      text-align: center;
}
.center-paragraph {
  text-align: center;
  padding: 20px 10px;
  font-size: 18px;
}
.other-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1200px;
    margin: auto;
}

.second-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin: 20px;
  align-items: center;
  border: var(--secondary-color);
}

.primary-img,
.secondary-img {
  max-width: 650px;
    width: 100%;
  height: auto;
  margin: 10px;
  grid-column: span 3 / auto;
}

.third-container {
  padding: 20px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
}

.third-container p {
  font-size: 20px;
  padding: 20px;
  color: var(--detail);
  text-align: justify;
}

.third-container img {
  width: 100%;
  max-width: 650px;
  height: auto;
}

.fourth-container {
  display: grid;
  gap: 30px;
    margin: 45px;
    grid-template-columns: repeat(4, 1fr);
}

.flip-card {
  background-color: transparent;
  color: var(--main-color);
  width: 300px;
  height: 300px;
  perspective: 1000px;
  justify-self: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  background-color: var(--secondary-color);
  color: var(--main-color);
    align-content: center;
}

.flip-card-back {
  background-color: var(--secondary-color);
  color: var(--main-color);
  transform: rotateY(180deg);
  }
  
  .flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 15px;
  }
  
  .flip-card-front p {
    padding-top: 10px;
  }
  
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.fifth-container {
  height: 100vh;
  width: 100%;
  color: var(--secondary-color);
  font-size: 44px;
  place-items: center;
  place-content: center;
  margin: 0;
  padding: 20px;
  padding-top: 15px;
  background: linear-gradient(
    
      135deg,
      hsla(177, 15%, 25%, 0.65),
      hsla(32, 55%, 94%, 0.65)
    ),
    url("assets/cocteaus-flower.PNG") no-repeat center center/cover;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.center-container {
  text-align: center;
}


@media screen and (max-width: 768px) {
  
  .main-container {
    grid-template-columns: 1fr;
  }
  .welcome-img {
display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
  }

  .main-text {
    text-align: center;
  }
  .other-container {
    grid-template-columns: 1fr;
  }

  .second-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
    padding: 20px;
    margin: 20px;
  }
  .third-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 10px;
    margin: 20px;
  }

  .third-container h2 {
    text-align: center;
    color: var(--secondary-color);
  }

  .fourth-container {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .black-tea,
  .green-tea,
  .oolong-tea,
  .white-tea {
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    width: 250px;
    height: 250px;
    align-items: center;
    justify-content: center;
  }

  .primary-img,
  .secondary-img {
display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
}

.card-1,
.card-2 {
  width: 90%;
  height: auto;
  }

}
